h2 {
  font-weight: 300;
}

#header {
  background-color: #201f22;

  .header-content {
    padding: 10px 0 !important;

    .logo {
      // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      // filter: grayscale(100%);
      margin-left: 1em;

      img {
        width: 100px;
      }
    }
  }

  .navigation {
    margin-right: 2em;
    padding-top: 25px;
  }
}

section.banner {
  background-color: #3c413a;
  height: 100vh;
}

#banner {
  .banner-img {
    max-width: 310px;
  }

  .banner-text {
    padding-top: 50%;

    p {
      font-size: 21px;
      line-height: 33px;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
    }
  }
}
.banner {
  background-color: #2e7d32;
}

#overview {
  .points {
    li {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 21px;
      font-size: 16px;
      letter-spacing: 1px;
      margin-bottom: 14px;
    }
  }

  hr {
    width: 60%;
  }

  .micon {
    width: 60px;
    margin-bottom: 20px;
  }
}

#technology {
  .features1-content {
    margin-top: 0;
  }

  .micon {
    width: 60px;
    margin-top: 20px;
  }
}

.benefits-section {
  .features2-content {
    li {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  .benefits-img {
    width: 50%;
  }
}

#benefits_governments {
  background-color: #f2f2f2;

  .features2-content {
    margin-left: 12%;
  }
}

#download {
  .overlay {
    background-color: rgba(34, 90, 11, 0.9);
  }
}

@media (max-width: 992px) {
  .benefits-section {
    .features2-content {
      li {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }

    .benefits-img {
      width: 50%;
    }
  }
}
