@import url('https://fonts.googleapis.com/css?family=Roboto');

#header {
  background-color: #201f22;

  .header-content {
    padding: 10px 0 !important;

    .logo {
      // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      // filter: grayscale(100%);
      margin-left: 1em;

      img {
        width: 100px;
      }
    }
  }

  .navigation {
    margin-right: 2em;
    padding-top: 25px;
  }
}

.banner {
  background-color: #2e7d32;
}

#overview {
  .micon {
    width: 60px;
    margin-bottom: 20px;
  }
}

#technology {
  .features1-content {
    margin-top: 0;
  }

  .micon {
    width: 60px;
    margin-top: 20px;
  }
}

#whatweoffer {
  .features2-content {
    li {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}

#download {
  .overlay {
    background-color: rgba(34, 90, 11, 0.9);
  }
}
